{
    "openapi": "3.0.0",
    "info": {
        "version": "1.7.7",
        "title": "Coinpaprika API",
        "x-logo": {
            "url": "https://coinpaprika.com/static/files/df51e301.png#greywizard/rock-coin-web/assets/img/cp_logo-transparent.png",
            "backgroundColor": "#FAFAFA"
        },
        "description": "Coinpaprika API delivers precise & frequently updated market data from the world of crypto: coin prices, volumes, market caps, ATHs, return rates and more.\n\n# Introduction\nIf you want to use the Coinpaprika API, you have two main options: you can choose the API Free plan, which has sufficient limits for hobby and non-commercial use, or get one of the paid plans, ideal for commercial or professional use. To decide which plan is the best for you, check the [Plans and Pricing comparison](https://coinpaprika.com/api).\n\nDepending on the selected plan, you should send requests to the appropriate base URL:\n\n| Plan       | Base URL                            |\n|------------|-------------------------------------|\n| Free       | https://api.coinpaprika.com/v1/     |\n| Starter    | https://api-pro.coinpaprika.com/v1/ |\n| Pro        | https://api-pro.coinpaprika.com/v1/ |\n| Business   | https://api-pro.coinpaprika.com/v1/ |\n| Enterprise | https://api-pro.coinpaprika.com/v1/ |\n\n# Authentication\nIf you use the Free plan, you don't need to set up an API key for each request. For other plans it is required. You can generate the API key in the Developer Portal after signing in.\n\nTo provide the API key in REST API calls, set the `Authorization` header:\n```\nAuthorization: <api-key>\n```\n\n# Standards and conventions\n## General\n\n* All endpoints return either a JSON object or array\n* All timestamp related fields are in seconds\n\n## Errors\n* API errors are formatted as JSON:\n```{\"error\": \"<error message>\"}```\n* The API uses standard HTTP status codes to indicate a request failure:\n  * HTTP 4XX return codes are used for invalid requests - the issue is on the sender's side\n  * HTTP 5XX return codes are used for internal errors - the issue is on the server's side\n\n  | HTTP Status | Description |\n  |---|---|\n  | 400 Bad Request | The server could not process the request due to invalid request parameters or invalid format of the parameters. |\n  | 402 Payment Required | The request could not be processed because of the user has an insufficient plan. If you want to be able to process this request, get a [higher plan](https://coinpaprika.com/api). |\n  | 403 Forbidden | The request could not be processed due to invalid API key. |\n  | 404 Not Found | The server could not process the request due to invalid URL or invalid path parameter. |\n  | 429 Too Many Requests | The rate limit has been exceeded. Reduce the frequency of requests to avoid this error. |\n  | 500 Internal Server Error | An unexpected server error has occured. |\n  \n\n# Rate limit\n* The monthly number of requests is limited depending on the plan:\n  | Plan       | Calls/month                         |\n  |------------|-------------------------------------|\n  | Free       | 25 000 |\n  | Starter    | 200 000 |\n  | Pro        | 500 000 |\n  | Business   | 3 000 000 |\n  | Enterprise | No limits |\n\n# API Clients\nWe provide the API clients in several popular programming languages:\n* [PHP](https://github.com/coinpaprika/coinpaprika-api-php-client)\n* [NodeJS](https://github.com/coinpaprika/coinpaprika-api-nodejs-client)\n* [GO](https://github.com/coinpaprika/coinpaprika-api-go-client)\n* [Swift](https://github.com/coinpaprika/coinpaprika-api-swift-client)\n* [Kotlin](https://github.com/coinpaprika/coinpaprika-api-kotlin-client)\n* [Python](https://github.com/coinpaprika/coinpaprika-api-python-client)\n* Community Contributed Clients:\n  * [Rust](https://github.com/tokenomia-pro/coinpaprika-api-rust-client) built by <a href=\"https://tokenomia.pro/\" target=\"_blank\">tokenomia.pro</a>\n  * [C#](https://github.com/MSiccDev/CoinpaprikaAPI)\n  * [JS](https://github.com/jaggedsoft/coinpaprika-js)\n\n**Note**: some of them may not be updated yet. We are working on improving them and they will be updated soon. If you'd like to contribute, please report issues and send PRs on Github.\n\n\n# Terms of use\n* [Download terms of use](https://coinpaprika.github.io/files/terms_of_use_v1.pdf)\n# Archival documentations\n* [API v1.2](https://api.coinpaprika.com/docs/1.2)\n* [API v1.3](https://api.coinpaprika.com/docs/1.3)\n* [API v1.4](https://api.coinpaprika.com/docs/1.4)\n* [API v1.5](https://api.coinpaprika.com/docs/1.5)\n* [API v1.6](https://api.coinpaprika.com/docs/1.6)\n# Version history\n## 1.7.7 - 2023.06.07\n* Added official Python client link\n## v1.7.6 - 2023.04.12\n* New intervals for OHLCV endpoint\n## v1.7.5 - 2022.12.07\n* Removed documentation for /beta/ endpoints\n## v1.7.4 - 2022.09.19\n* Key info endpoint\n* Coin logo image URL\n## v1.7.3 - 2022.09.08\n* Plans update\n## v1.7.2 - 2022.07.22\n* Changelog endpoint documentation\n## v1.7.1 - 2022.07.14\n* Beta endpoints documentation\n## v1.7.0 - 2022.05.06\n* API-Pro documentation\n## v1.6.1 - 2020.12.09\n* Added information about first date with price data for currency ticker [/tickers](#operation/getTickers) and [/tickers/{coin_id}](#operation/getTickersById)\n* Added redirect for historical tickers by contract address [/contracts/{platform_id}/{contract_address}/historical](#operation/getHistoricalTicker)\n## v1.6.0 - 2020.10.27\n* Added contracts section [/contracts](#operation/getPlatforms), [/contracts/{platform_id}](#operation/getContracts),\n[/contracts/{platform_id}/{contract_address}](#operation/getTicker)\n"
    },
    "servers": [
        {
            "url": "https://api.coinpaprika.com/v1"
        }
    ],
    "tags": [
        {
            "name": "Key"
        },
        {
            "name": "Global"
        },
        {
            "name": "Coins"
        },
        {
            "name": "People"
        },
        {
            "name": "Tags"
        },
        {
            "name": "Tickers"
        },
        {
            "name": "Exchanges"
        },
        {
            "name": "Tools"
        },
        {
            "name": "Contracts"
        },
        {
            "name": "Changelog"
        },
        {
            "name": "Deprecated"
        }
    ],
    "paths": {
        "/key/info": {
            "get": {
                "summary": "Get API key info",
                "description": "Returns API key information:\n* Name of the API key plan\n* When the plan started\n* A flag indicating if the plan is active\n* Link to the API user portal\n* Monthly usage\n\n**Available on the following API plans:**\n- Starter\n- Pro\n- Business\n- Enterprise\n\n**Update interval:** Every 1 minute.\n",
                "tags": [
                    "Key"
                ],
                "x-codeSamples": [
                    {
                        "lang": "cURL",
                        "label": "CLI",
                        "source": "curl --request GET \\\n--url https://api-pro.coinpaprika.com/v1/key/info \\\n--header 'Authorization: <api-key>'\n"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "plan": {
                                            "type": "string",
                                            "example": "pro",
                                            "description": "Name of the API plan"
                                        },
                                        "plan_started_at": {
                                            "type": "string",
                                            "description": "A date when the plan started in RFC3999 (ISO-8601) format",
                                            "example": "2022-09-16T10:17:24Z"
                                        },
                                        "plan_status": {
                                            "type": "string",
                                            "example": "active",
                                            "description": "Status of the plan. There are 3 possible statuses: `active` - the subscription is active; `past_due` - the subscription payment failed. If payment is not made within 7 days, then the subscription will expire; `inactive` - the subscription is inactive."
                                        },
                                        "portal_url": {
                                            "type": "string",
                                            "example": "https://coinpaprika.com/api/panel",
                                            "description": "API Customer Portal URL"
                                        },
                                        "usage": {
                                            "type": "object",
                                            "description": "Monthly usage for the API key",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "limited plan",
                                                    "description": "`limited plan` if the number of requests is limited in the current plan or `unlimited plan` if there is no limit on the number of requests"
                                                },
                                                "current_month": {
                                                    "type": "object",
                                                    "description": "Requests made and left stats",
                                                    "properties": {
                                                        "requests_made": {
                                                            "type": "number",
                                                            "example": 18,
                                                            "description": "Number of requests made in the current month. If a plan has no limit on the number of requests, e.g., `Enterprise` plan, then the value of `requests_made` is -1"
                                                        },
                                                        "requests_left": {
                                                            "type": "number",
                                                            "example": 499982,
                                                            "description": "Number of requests left in the  current month. If a plan has no limit on the number of requests, e.g., `Enterprise` plan, then the value of `requests_left` is -1"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request could not be processed due to invalid API key"
                    },
                    "429": {
                        "description": "too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "you have reached maximum request limit",
                                            "description": "Error description"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/global": {
            "get": {
                "summary": "Get market overview data",
                "description": "Returns current cryptocurrencies market overview metrics, such as:\n* Global market capitalization\n* Total 24h volume of all cryptocurrencies\n* Number of active cryptocurrencies on coinpaprika.com\n* ATH of 24h volume and market capitalization\n* and more\n\n**Available on the following API plans:**\n- Free\n- Starter\n- Pro\n- Business\n- Enterprise\n\n**Update interval:** Every 5 minute.\n",
                "tags": [
                    "Global"
                ],
                "x-codeSamples": [
                    {
                        "lang": "cURL",
                        "label": "CLI",
                        "source": "curl --request GET \\\n--url 'https://api.coinpaprika.com/v1/global'\n"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "market_cap_usd": {
                                            "type": "number",
                                            "example": 430252937008,
                                            "description": "Total market capitalization - sum of all cryptocurrency market capitalizations in USD"
                                        },
                                        "volume_24h_usd": {
                                            "type": "number",
                                            "example": 430252937008,
                                            "description": "Total 24h volume - sum of all cryptocurrency volumes in USD"
                                        },
                                        "bitcoin_dominance_percentage": {
                                            "type": "number",
                                            "example": 36.67,
                                            "description": "Bitcoin market capitalization as a percentage of total market capitalization"
                                        },
                                        "cryptocurrencies_number": {
                                            "type": "integer",
                                            "example": 1587,
                                            "description": "This is number of active cryptocurrencies on our site (active in this case means that we have up-to-date price data for a coin). Total number of our cryptocurrencies is higher and may be obtained via counting elements in /coins endpoint."
                                        },
                                        "market_cap_ath_value": {
                                            "type": "number",
                                            "example": 835692000000,
                                            "description": "ATH (All Time High) value of market capitalization - the highest historical value of marketcap"
                                        },
                                        "market_cap_ath_date": {
                                            "type": "string",
                                            "example": "2018-01-07T11:17:00Z",
                                            "description": "ATH (All Time High) date of market capitalization"
                                        },
                                        "volume_24h_ath_value": {
                                            "type": "number",
                                            "example": 71990500000,
                                            "description": "ATH (All Time High) value of the 24h volume - the highest historical value of 24h volume"
                                        },
                                        "volume_24h_ath_date": {
                                            "type": "string",
                                            "example": "2018-01-04T17:17:00Z",
                                            "description": "ATH (All Time High) date of volume 24h"
                                        },
                                        "market_cap_change_24h": {
                                            "type": "number",
                                            "example": 1.98,
                                            "description": "Percentage change in the market capitalization over the last 24h"
                                        },
                                        "volume_24h_change_24h": {
                                            "type": "number",
                                            "example": 1.98,
                                            "description": "Percentage change in the volume 24h over the last 24h"
                                        },
                                        "last_updated": {
                                            "type": "integer",
                                            "example": 1525089441,
                                            "description": "Timestamp of the last data update"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "you have reached maximum request limit",
                                            "description": "Error description"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/coins": {
            "get": {
                "summary": "List coins",
                "description": "Returns basic information about cryptocurrencies on coinpaprika.com:\n* identity (`id`, `name`, `symbol`)\n* ranking (`rank`)\n* activity status (`is_active`)\n* type of cryptocurrency (`type`) - `coin` or `token`\n* information whether the currency is new (`is_new`) - true if the currency was added within the last 5 days\n\n**Available on the following API plans:**\n- Free\n- Starter\n- Pro\n- Business\n- Enterprise\n\n**Update interval:** Every 1 minute.\n",
                "tags": [
                    "Coins"
                ],
                "x-codeSamples": [
                    {
                        "lang": "cURL",
                        "label": "CLI",
                        "source": "curl --request GET \\\n--url 'https://api.coinpaprika.com/v1/coins'\n"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "btc-bitcoin",
                                                "description": "ID of coin on coinpaprika.com"
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "Bitcoin",
                                                "description": "Name of the cryptocurrency"
                                            },
                                            "symbol": {
                                                "type": "string",
                                                "example": "BTC",
                                                "description": "Symbol of the cryptocurrency"
                                            },
                                            "rank": {
                                                "type": "integer",
                                                "example": 1,
                                                "description": "Current ranking of the cryptocurrency. If `is_active` is false the `rank` is 0"
                                            },
                                            "is_new": {
                                                "type": "boolean",
                                                "example": false,
                                                "description": "Flag indicating if the currency was added within the last 5 days"
                                            },
                                            "is_active": {
                                                "type": "boolean",
                                                "example": true,
                                                "description": "Flag indicating if the currency is active, which means that we can calculate the current price and volume"
                                            },
                                            "type": {
                                                "type": "string",
                                                "example": "coin",
                                                "description": "Type of the cryptocurrency. Currently supported values are `coin` and `token`"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "you have reached maximum request limit",
                                            "description": "Error description"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/coins/{coin_id}": {
            "get": {
                "summary": "Get coin by ID",
                "description": "Returns detailed descriptive information about a single coin, without price or volume data. For price data, check the [/tickers](#operation/getTickers) and [/tickers/{coin_id}](#operation/getTickersById) endpoints.\n\n**Available on the following API plans:**\n- Free\n- Starter\n- Pro\n- Business\n- Enterprise\n\n**Update interval:** Every 1 minute.\n",
                "operationId": "getCoinById",
                "parameters": [
                    {
                        "name": "coin_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "btc-bitcoin"
                        }
                    }
                ],
                "tags": [
                    "Coins"
                ],
                "x-codeSamples": [
                    {
                        "lang": "cURL",
                        "label": "CLI",
                        "source": "curl --request GET \\\n--url 'https://api.coinpaprika.com/v1/coins/btc-bitcoin'\n"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "btc-bitcoin",
                                            "description": "ID of coin on coinpaprika.com"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "Bitcoin",
                                            "description": "Name of the cryptocurrency"
                                        },
                                        "symbol": {
                                            "type": "string",
                                            "example": "BTC",
                                            "description": "Symbol of the cryptocurrency"
                                        },
                                        "parent": {
                                            "type": "#/coin_parent",
                                            "example": {
                                                "id": "eth-ethereum",
                                                "name": "Ethereum",
                                                "symbol": "ETH"
                                            },
                                            "nullable": true,
                                            "description": "This field is deprecated. Use `contracts` field instead"
                                        },
                                        "rank": {
                                            "type": "integer",
                                            "example": 1,
                                            "description": "Current coin ranking position on coinpaprika.com"
                                        },
                                        "is_new": {
                                            "type": "boolean",
                                            "example": false,
                                            "description": "Flag indicating if the currency was added within the last 5 days"
                                        },
                                        "is_active": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Flag indicating if the currency is active, which means that we can calculate the current price and volume"
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "coin",
                                            "description": "Type of the cryptocurrency. Currently supported values are `coin` and `token`"
                                        },
                                        "logo": {
                                            "type": "string",
                                            "example": "https://static.coinpaprika.com/coin/bnb-binance-coin/logo.png",
                                            "description": "Logo image URL"
                                        },
                                        "tags": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "blockchain-service",
                                                        "description": "ID of the tag"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Blockchain Service",
                                                        "description": "Name of the tag"
                                                    },
                                                    "coin_counter": {
                                                        "type": "integer",
                                                        "example": 160,
                                                        "description": "Number of coins with this tag"
                                                    },
                                                    "ico_counter": {
                                                        "type": "integer",
                                                        "example": 80,
                                                        "description": "Number of ico projects with this tag"
                                                    }
                                                }
                                            },
                                            "description": "The array of tags to which this coin was assigned on coinpaprika.com"
                                        },
                                        "team": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "vitalik-buterin"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Vitalik Buterin"
                                                    },
                                                    "position": {
                                                        "type": "string",
                                                        "example": "Author"
                                                    }
                                                }
                                            },
                                            "description": "The cryptocurrency founding and/or developing team"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "Bitcoin is a cryptocurrency and worldwide payment system. It is the first decentralized digital currency, as the system works without a central bank or single administrator.",
                                            "nullable": true,
                                            "description": "Text description of the cryptocurrency"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "An important message about current status of the cryptocurrency"
                                        },
                                        "open_source": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Set to true if the cryptocurrency is Open Source project"
                                        },
                                        "hardware_wallet": {
                                            "type": "boolean",
                                            "example": true,
                                            "description": "Set to true if the cryptocurrency is supported by any hardware wallet"
                                        },
                                        "started_at": {
                                            "type": "string",
                                            "example": "2009-01-03T00:00:00Z",
                                            "nullable": true,
                                            "description": "Launch date of the cryptocurrency"
                                        },
                                        "development_status": {
                                            "type": "string",
                                            "example": "Working product",
                                            "nullable": true,
                                            "description": "Development status of the cryptocurrency - if it is a working project, beta version, just an idea, etc."
                                        },
                                        "proof_type": {
                                            "type": "string",
                                            "example": "Proof of work",
                                            "nullable": true,
                                            "description": "Cryptocurrency proof type: Proof of Work, Proof of Stake, etc."
                                        },
                                        "org_structure": {
                                            "type": "string",
                                            "example": "Decentralized",
                                            "nullable": true,
                                            "description": "The cryptocurrency organization structure: centralized, decentralized, hierarchical, flat, etc."
                                        },
                                        "hash_algorithm": {
                                            "type": "string",
                                            "example": "SHA256",
                                            "nullable": true,
                                            "description": "Name of the hash algorithm used by the cryptocurrency"
                                        },
                                        "contract": {
                                            "type": "string",
                                            "nullable": true,
                                            "description": "This field is deprecated. Use `contracts` field instead"
                                        },
                                        "platform": {
                                            "type": "string",
                                            "nullable": true,
                                            "description": "This field is deprecated. Use `contracts` field instead"
                                        },
                                        "contracts": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "contract": {
                                                        "type": "string",
                                                        "description": "The contract identifier, which is usually its address"
                                                    },
                                                    "platform": {
                                                        "type": "string",
                                                        "description": "ID of the contract platform. For Ethereum contracts it is `eth-ethereum`, for Tron `trx-tron`, etc."
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "description": "Type of the contract. Currently supported values are: `ERC20`, `BEP2`, `TRC10`, `TRC20`, `Stellar Asset`, `Other`"
                                                    }
                                                },
                                                "required": [
                                                    "contract",
                                                    "platform",
                                                    "type"
                                                ]
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "explorer": {
                                                    "type": "array",
                                                    "items": "string",
                                                    "example": [
                                                        "http://blockchain.com/explorer",
                                                        "https://blockchair.com/bitcoin/blocks",
                                                        "https://blockexplorer.com/",
                                                        "https://live.blockcypher.com/btc/"
                                                    ],
                                                    "nullable": true,
                                                    "description": "List of links to blockchain explorers, if any"
                                                },
                                                "facebook": {
                                                    "type": "array",
                                                    "items": "string",
                                                    "example": [
                                                        "https://www.facebook.com/bitcoins/"
                                                    ],
                                                    "nullable": true,
                                                    "description": "List of links to Facebook pages of the cryptocurrency, if any"
                                                },
                                                "reddit": {
                                                    "type": "array",
                                                    "items": "string",
                                                    "example": [
                                                        "https://www.reddit.com/r/bitcoin"
                                                    ],
                                                    "nullable": true,
                                                    "description": "List of links to Reddit communities and profiles, if any"
                                                },
                                                "source_code": {
                                                    "type": "array",
                                                    "items": "string",
                                                    "example": [
                                                        "https://github.com/bitcoin/bitcoin"
                                                    ],
                                                    "nullable": true,
                                                    "description": "List of links to source code repositories, if any"
                                                },
                                                "website": {
                                                    "type": "array",
                                                    "items": "string",
                                                    "example": [
                                                        "https://bitcoin.org/"
                                                    ],
                                                    "nullable": true,
                                                    "description": "List of the cryptocurrency websites, if any"
                                                },
                                                "youtube": {
                                                    "type": "array",
                                                    "items": "string",
                                                    "example": [
                                                        "https://www.youtube.com/watch?v=Um63OQz3bjo"
                                                    ],
                                                    "nullable": true,
                                                    "description": "List of links to Youtube channels of the cryptocurrency, if any"
                                                },
                                                "medium": {
                                                    "type": "array",
                                                    "items": "string",
                                                    "example": null,
                                                    "nullable": true,
                                                    "description": "List of links to Medium profiles of the cryptocurrency, if any"
                                                }
                                            }
                                        },
                                        "links_extended": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "url": {
                                                        "type": "string",
                                                        "description": "The link URL"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "description": "Type of the link: `website`, `reddit`, `source_code`, etc."
                                                    },
                                                    "stats": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "number"
                                                        },
                                                        "description": "An object containing the link stats like `subscribers` (for reddit), `followers` (for twitter), `members` (for telegram), `stars`, `contributors` (for source code)"
                                                    }
                                                },
                                                "required": [
                                                    "url",
                                                    "type"
                                                ]
                                            },
                                            "example": [
                                                {
                                                    "url": "http://blockchain.com/explorer",
                                                    "type": "explorer"
                                                },
                                                {
                                                    "url": "https://www.reddit.com/r/bitcoin",
                                                    "type": "reddit",
                                                    "stats": {
                                                        "subscribers": 1009135
                                                    }
                                                },
                                                {
                                                    "url": "https://github.com/bitcoin/bitcoin",
                                                    "type": "source_code",
                                                    "stats": {
                                                        "contributors": 730,
                                                        "stars": 36613
                                                    }
                                                },
                                                {
                                                    "url": "https://bitcoin.org/",
                                                    "type": "website"
                                                }
                                            ],
                                            "description": "Contains all links of the `{coin_id}` coin together with statistics for some of them, e.g. number of twitter followers, reddit subscribers, telegram members or github repository stars and contributors"
                                        },
                                        "whitepaper": {
                                            "type": "object",
                                            "properties": {
                                                "link": {
                                                    "type": "string",
                                                    "example": "https://static.coinpaprika.com/storage/cdn/whitepapers/215.pdf",
                                                    "description": "The whitepaper URL"
                                                },
                                                "thumbnail": {
                                                    "type": "string",
                                                    "example": "https://static.coinpaprika.com/storage/cdn/whitepapers/217.jpg",
                                                    "description": "Link to the whitepaper thumbnail"
                                                }
                                            }
                                        },
                                        "first_data_at": {
                                            "type": "string",
                                            "description": "Date of the first available ticker data for the coin. RFC3999 (ISO-8601) format",
                                            "example": "2018-10-03T11:48:19Z"
                                        },
                                        "last_data_at": {
                                            "type": "string",
                                            "description": "Date of the last available ticker data for the coin. RFC3999 (ISO-8601) format",
                                            "example": "2019-05-03T11:00:00"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "id not found",
                                            "description": "ID not found error message"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "you have reached maximum request limit",
                                            "description": "Error description"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/coins/{coin_id}/twitter": {
            "get": {
                "summary": "Get Twitter timeline tweets for a coin",
                "description": "Returns the last 50 timeline tweets from the official Twitter profile for a given coin.\n\n**Available on the following API plans:**\n- Free\n- Starter\n- Pro\n- Business\n- Enterprise\n\n**Update interval:** Every 5 minutes.\n",
                "parameters": [
                    {
                        "name": "coin_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "btc-bitcoin"
                        }
                    }
                ],
                "tags": [
                    "Coins"
                ],
                "x-codeSamples": [
                    {
                        "lang": "cURL",
                        "label": "CLI",
                        "source": "curl --request GET \\\n--url 'https://api.coinpaprika.com/v1/coins/btc-bitcoin/twitter'\n"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "date": {
                                                "type": "string",
                                                "description": "Publish date of the tweet. RFC3999 (ISO-8601) format",
                                                "example": "2018-10-03T11:48:19Z"
                                            },
                                            "user_name": {
                                                "type": "string",
                                                "description": "Twitter profile user name",
                                                "example": "bitcoincoreorg"
                                            },
                                            "user_image_link": {
                                                "type": "string",
                                                "description": "Twitter profile user image URL"
                                            },
                                            "status": {
                                                "type": "string",
                                                "description": "Tweet content",
                                                "example": "Bitcoin Core 0.17.0 Released https://t.co/ciwCREngon"
                                            },
                                            "is_retweet": {
                                                "type": "boolean",
                                                "description": "Flag indicating whether it is a retweet of someone else's tweet",
                                                "example": false
                                            },
                                            "retweet_count": {
                                                "type": "integer",
                                                "description": "Number of retweets of this tweet"
                                            },
                                            "like_count": {
                                                "type": "integer",
                                                "description": "Number of likes of this tweet"
                                            },
                                            "status_link": {
                                                "type": "string",
                                                "description": "Tweet URL"
                                            },
                                            "status_id": {
                                                "type": "string",
                                                "description": "Tweet ID"
                                            },
                                            "media_link": {
                                                "type": "string",
                                                "descripiton": "Link to this tweet media: image, video, etc.",
                                                "nullable": true
                                            },
                                            "youtube_link": {
                                                "type": "string",
                                                "description": "Link to Youtube video shared in this tweet",
                                                "nullable": true
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "id not found",
                                            "description": "ID not found error message"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "you have reached maximum request limit",
                                            "description": "Error description"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/coins/{coin_id}/events": {
            "get": {
                "summary": "Get coin events by coin ID",
                "description": "Returns events for a given coin.\n\n**Available on the following API plans:**\n- Free\n- Starter\n- Pro\n- Business\n- Enterprise\n\n**Update interval:** Every 5 minutes.\n",
                "parameters": [
                    {
                        "name": "coin_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "btc-bitcoin"
                        }
                    }
                ],
                "tags": [
                    "Coins"
                ],
                "x-codeSamples": [
                    {
                        "lang": "cURL",
                        "label": "CLI",
                        "source": "curl --request GET \\\n--url 'https://api.coinpaprika.com/v1/coins/btc-bitcoin/events'\n"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "17398-cme-april-first-trade"
                                            },
                                            "date": {
                                                "type": "string",
                                                "example": "2018-04-02T00:00:00Z"
                                            },
                                            "date_to": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "CME: April First Trade"
                                            },
                                            "description": {
                                                "type": "string",
                                                "example": "First trade of Bitcoin futures contract for April 2018."
                                            },
                                            "is_conference": {
                                                "type": "boolean",
                                                "example": false
                                            },
                                            "link": {
                                                "type": "string",
                                                "example": "http://www.cmegroup.com/trading/equity-index/us-index/bitcoin_product_calendar_futures.html",
                                                "nullable": true
                                            },
                                            "proof_image_link": {
                                                "type": "string",
                                                "example": "https://static.coinpaprika.com/storage/cdn/event_images/16635.jpg",
                                                "nullable": true
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "id not found",
                                            "description": "ID not found error message"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "you have reached maximum request limit",
                                            "description": "Error description"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/coins/{coin_id}/exchanges": {
            "get": {
                "summary": "Get exchanges by coin ID",
                "description": "Returns exchanges where a given coin is traded.\n\n**Available on the following API plans:**\n- Free\n- Starter\n- Pro\n- Business\n- Enterprise\n\n**Update interval:** Every 1 minute.\n",
                "parameters": [
                    {
                        "name": "coin_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "btc-bitcoin"
                        }
                    }
                ],
                "tags": [
                    "Coins"
                ],
                "x-codeSamples": [
                    {
                        "lang": "cURL",
                        "label": "CLI",
                        "source": "curl --request GET \\\n--url 'https://api.coinpaprika.com/v1/coins/btc-bitcoin/exchanges'\n"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "binance"
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "Binance"
                                            },
                                            "fiats": {
                                                "type": "array",
                                                "items": "#/exchange_fiat",
                                                "example": [
                                                    {
                                                        "name": "US Dollars",
                                                        "symbol": "USD"
                                                    }
                                                ]
                                            },
                                            "adjusted_volume_24h_share": {
                                                "type": "number",
                                                "example": 11.26
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "id not found",
                                            "description": "ID not found error message"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "you have reached maximum request limit",
                                            "description": "Error description"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/coins/{coin_id}/markets": {
            "get": {
                "summary": "Get markets by coin ID",
                "description": "Returns all available markets for a given coin.\n\n**Available on the following API plans:**\n- Free\n- Starter\n- Pro\n- Business\n- Enterprise\n\n**Update interval:** Every 1 minute.\n",
                "parameters": [
                    {
                        "name": "coin_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "btc-bitcoin"
                        }
                    },
                    {
                        "name": "quotes",
                        "in": "query",
                        "required": false,
                        "description": "Comma separated list of quotes to return. Currently allowed values:  BTC, ETH, USD, EUR, PLN, KRW, GBP, CAD, JPY, RUB, TRY, NZD, AUD, CHF, UAH, HKD, SGD, NGN, PHP, MXN, BRL, THB, CLP, CNY, CZK, DKK, HUF, IDR, ILS, INR, MYR, NOK, PKR, SEK, TWD, ZAR, VND, BOB, COP, PEN, ARS, ISK\n",
                        "schema": {
                            "type": "string",
                            "default": "USD",
                            "example": "USD,BTC"
                        }
                    }
                ],
                "tags": [
                    "Coins"
                ],
                "x-codeSamples": [
                    {
                        "lang": "cURL",
                        "label": "CLI",
                        "source": "curl --request GET \\\n--url 'https://api.coinpaprika.com/v1/coins/btc-bitcoin/markets'\n"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "exchange_id": {
                                                "type": "string",
                                                "example": "binance"
                                            },
                                            "exchange_name": {
                                                "type": "string",
                                                "example": "Binance"
                                            },
                                            "pair": {
                                                "type": "string",
                                                "example": "BTC/USDT"
                                            },
                                            "base_currency_id": {
                                                "type": "string",
                                                "example": "btc-bitcoin"
                                            },
                                            "base_currency_name": {
                                                "type": "string",
                                                "example": "Bitcoin"
                                            },
                                            "quote_currency_id": {
                                                "type": "string",
                                                "example": "usdt-tether"
                                            },
                                            "quote_currency_name": {
                                                "type": "string",
                                                "example": "Tether"
                                            },
                                            "market_url": {
                                                "type": "string",
                                                "example": "https://www.binance.com/en/trade/BTC_USDT"
                                            },
                                            "category": {
                                                "type": "string",
                                                "example": "Spot"
                                            },
                                            "fee_type": {
                                                "type": "string",
                                                "example": "Percentage"
                                            },
                                            "outlier": {
                                                "type": "bool",
                                                "example": false
                                            },
                                            "adjusted_volume_24h_share": {
                                                "type": "number",
                                                "example": 30.29
                                            },
                                            "quotes": {
                                                "type": "object",
                                                "properties": {
                                                    "$KEY": {
                                                        "type": "object",
                                                        "properties": {
                                                            "price": {
                                                                "type": "number",
                                                                "example": 4582.6967796728
                                                            },
                                                            "volume_24h": {
                                                                "type": "number",
                                                                "example": 229658776.19514218
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "last_updated": {
                                                "type": "string",
                                                "example": "2018-11-14T07:20:41Z"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "id not found",
                                            "description": "ID not found error message"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "you have reached maximum request limit",
                                            "description": "Error description"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/coins/{coin_id}/ohlcv/latest/": {
            "get": {
                "summary": "Get OHLC for the last full day",
                "description": "Returns Open/High/Low/Close values with volume and market capitalization for the last full day.\n\n**Available on the following API plans:**\n- Free\n- Starter\n- Pro\n- Business\n- Enterprise\n\n**Update interval:** Every 1 day.\n",
                "parameters": [
                    {
                        "name": "coin_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "btc-bitcoin"
                        }
                    },
                    {
                        "name": "quote",
                        "in": "query",
                        "required": false,
                        "description": "returned data quote (available values: `usd` `btc`)",
                        "schema": {
                            "type": "string",
                            "default": "usd"
                        }
                    }
                ],
                "tags": [
                    "Coins"
                ],
                "x-codeSamples": [
                    {
                        "lang": "cURL",
                        "label": "CLI",
                        "source": "curl --request GET \\\n--url 'https://api.coinpaprika.com/v1/coins/btc-bitcoin/ohlcv/latest'\n"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "time_open": {
                                                "type": "string",
                                                "description": "RFC3999 (ISO-8601) format",
                                                "example": "2018-03-01T00:00:00Z"
                                            },
                                            "time_close": {
                                                "type": "string",
                                                "description": "RFC3999 (ISO-8601) format",
                                                "example": "2018-03-01T23:59:59Z"
                                            },
                                            "open": {
                                                "type": "number",
                                                "example": 856.012,
                                                "nullable": true
                                            },
                                            "high": {
                                                "type": "number",
                                                "example": 880.302,
                                                "nullable": true
                                            },
                                            "low": {
                                                "type": "number",
                                                "example": 851.92,
                                                "nullable": true
                                            },
                                            "close": {
                                                "type": "number",
                                                "example": 872.2,
                                                "nullable": true
                                            },
                                            "volume": {
                                                "type": "integer",
                                                "example": 1868520000,
                                                "nullable": true
                                            },
                                            "market_cap": {
                                                "type": "integer",
                                                "example": 83808161204,
                                                "nullable": true
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "id not found",
                                            "description": "ID not found error message"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "you have reached maximum request limit",
                                            "description": "Error description"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/coins/{coin_id}/ohlcv/historical": {
            "get": {
                "summary": "Get historical OHLC",
                "description": "Returns Open/High/Low/Close values with volume and market capitalization for any date range. If the `end` date is the current day, data can change with every request until actual close of the day at 23:59:59\"\n\n**Available on the following API plans:**\n- Free\n- Starter\n- Pro\n- Business\n- Enterprise\n\n**Maximum time range of data available to fetch depending on the plan:**\n\n| Plan       | Time range                         |\n|------------|-------------------------------------|\n| Free       | Last 24 hours |\n| Starter    | Last 30 days |\n| Pro        | Last 90 days |\n| Business   | Last 365 days |\n| Enterprise | No limits |\n\n**The default interval of returned data for OHLCV is 24 hours:**\n```\n[\n  {\n    \"time_open\": \"2020-01-01T00:00:00Z\",\n    \"time_close\": \"2020-01-01T23:59:59Z\",\n    \"open\": ...,\n    \"high\": ...,\n    \"low\": ...,\n    \"close\": ...,\n    \"volume\": ...,\n    \"market_cap\": ...\n  }\n  ...\n]\n```\n\n**However, depending on your API plan, you can set a smaller interval by using the query parameter `interval`:**\n\n| Plan       | `interval` parameter value          |\n|------------|-------------------------------------|\n| Free       | `24h` |\n| Starter    | `24h` |\n| Pro        | `24h` |\n| Business   | `1h`, `6h`, `12h`, `24h` |\n| Enterprise | `15m`, `30m`, `1h`, `6h`, `12h`, `24h` |\n\n**Update interval:** Every 15 minute.\n",
                "parameters": [
                    {
                        "name": "coin_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "btc-bitcoin"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": true,
                        "description": "start point for historical data\n#### Supported formats:\n   - RFC3999 (ISO-8601) eg. `2018-02-15T05:15:00Z`\n   - Simple date (yyyy-mm-dd) eg. `2018-02-15`\n   - Unix timestamp (in seconds) eg. `1518671700`\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "required": false,
                        "description": "end point for ohlcv (max 1 year)\n#### Supported formats:\n   - RFC3999 (ISO-8601) eg. `2018-02-15T05:15:00Z`\n   - Simple date (yyyy-mm-dd) eg. `2018-02-15`\n   - Unix timestamp (in seconds) eg. `1518671700`\n\n If not provided calculated by the limit parameter\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "limit of result rows (max `366`)",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "interval",
                        "in": "query",
                        "required": false,
                        "description": "returned OHLCV point interval (available values: `15m`, `30m`, `1h`, `6h`, `12h`, `24h`)",
                        "schema": {
                            "type": "string",
                            "default": "24h"
                        }
                    },
                    {
                        "name": "quote",
                        "in": "query",
                        "required": false,
                        "description": "returned data quote (available values: `usd` `btc`)",
                        "schema": {
                            "type": "string",
                            "default": "usd"
                        }
                    }
                ],
                "tags": [
                    "Coins"
                ],
                "x-codeSamples": [
                    {
                        "lang": "cURL",
                        "label": "CLI",
                        "source": "curl --request GET \\\n--url 'https://api.coinpaprika.com/v1/coins/btc-bitcoin/ohlcv/historical?start=2019-01-01&end=2019-01-20'\n"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "time_open": {
                                                "type": "string",
                                                "description": "RFC3999 (ISO-8601) format",
                                                "example": "2018-03-01T00:00:00Z"
                                            },
                                            "time_close": {
                                                "type": "string",
                                                "description": "RFC3999 (ISO-8601) format",
                                                "example": "2018-03-01T23:59:59Z"
                                            },
                                            "open": {
                                                "type": "number",
                                                "example": 856.012,
                                                "nullable": true
                                            },
                                            "high": {
                                                "type": "number",
                                                "example": 880.302,
                                                "nullable": true
                                            },
                                            "low": {
                                                "type": "number",
                                                "example": 851.92,
                                                "nullable": true
                                            },
                                            "close": {
                                                "type": "number",
                                                "example": 872.2,
                                                "nullable": true
                                            },
                                            "volume": {
                                                "type": "integer",
                                                "example": 1868520000,
                                                "nullable": true
                                            },
                                            "market_cap": {
                                                "type": "integer",
                                                "example": 83808161204,
                                                "nullable": true
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "id not found",
                                            "description": "ID not found error message"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "you have reached maximum request limit",
                                            "description": "Error description"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/coins/{coin_id}/ohlcv/today/": {
            "get": {
                "summary": "Get today OHLC",
                "description": "Returns Open/High/Low/Close values with volume and market capitalization for the current day. Data can change every each request until actual close of the day at 23:59:59.\n\n**Available on the following API plans:**\n- Free\n- Starter\n- Pro\n- Business\n- Enterprise\n\n**Update interval:** Every 5 minute.\n",
                "parameters": [
                    {
                        "name": "coin_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "btc-bitcoin"
                        }
                    },
                    {
                        "name": "quote",
                        "in": "query",
                        "required": false,
                        "description": "returned data quote (available values: `usd` `btc`)",
                        "schema": {
                            "type": "string",
                            "default": "usd"
                        }
                    }
                ],
                "tags": [
                    "Coins"
                ],
                "x-codeSamples": [
                    {
                        "lang": "cURL",
                        "label": "CLI",
                        "source": "curl --request GET \\\n--url 'https://api.coinpaprika.com/v1/coins/btc-bitcoin/ohlcv/today'\n"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "time_open": {
                                                "type": "string",
                                                "description": "RFC3999 (ISO-8601) format",
                                                "example": "2018-03-01T00:00:00Z"
                                            },
                                            "time_close": {
                                                "type": "string",
                                                "description": "RFC3999 (ISO-8601) format",
                                                "example": "2018-03-01T23:59:59Z"
                                            },
                                            "open": {
                                                "type": "number",
                                                "example": 856.012,
                                                "nullable": true
                                            },
                                            "high": {
                                                "type": "number",
                                                "example": 880.302,
                                                "nullable": true
                                            },
                                            "low": {
                                                "type": "number",
                                                "example": 851.92,
                                                "nullable": true
                                            },
                                            "close": {
                                                "type": "number",
                                                "example": 872.2,
                                                "nullable": true
                                            },
                                            "volume": {
                                                "type": "integer",
                                                "example": 1868520000,
                                                "nullable": true
                                            },
                                            "market_cap": {
                                                "type": "integer",
                                                "example": 83808161204,
                                                "nullable": true
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "id not found",
                                            "description": "ID not found error message"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "you have reached maximum request limit",
                                            "description": "Error description"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/people/{person_id}": {
            "get": {
                "summary": "Get person by ID",
                "description": "Returns information about a person with the specified ID, related to the cryptocurrency market. Using this endpoint you can get a description of the person, social media links, number of teams she or he is involved in and the positions in those teams. \n\n**Available on the following API plans:**\n- Free\n- Starter\n- Pro\n- Business\n- Enterprise\n\n**Update interval:** Every 1 hour.\n",
                "operationId": "getPeopleById",
                "parameters": [
                    {
                        "name": "person_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "vitalik-buterin"
                        }
                    }
[...]
